.leftspace {
			position:absolute;
			left: 7px; 
			top: 7px;
}

ol {
    list-style-type: none;
    margin : -8px;
    padding: 22px;
    overflow: hidden;
    background-color: #e6ffff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ff1a75;
    text-align: center;
    padding: 25px;
    text-decoration: none;
	font-size : 17px;
	text-transform: uppercase;
}

li a:hover {
    color: #4d88ff;
	text-decoration: underline;
} 
.background-wrap {
                position: absolute;
                z-index: -1000;
                width: 100%;
                height: 85%;
                overflow: hidden;
                top: 13%;
                left: 0;
}
            
#video-bg-elem {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 100%;
                min-width: 100%;
}        
.content {
	position: absolute;
    width: 100%;
    height: 78%;
    z-index: 1000;
    background-color: rgba(0,0,0,0);
}
.content h2 {
    text-align: center;
    font-size: 65px;
	font-style : Arial;
    text-transform: uppercase;
    font-weight: 800;
    color: #ff1a75;
    padding-top: 15%;
    margin-bottom: 10px;
}
.abc {
	position: absolute;
    top: 115%;
	margin-left : 25%;
	text-align: center;
	width : 700px;
	padding : 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;	
	float: left;
	background-color: #e6ffff;
	color: #ff1a75;
}
button {
	background-color : #b30000;
	height : 25px;
	margin-left : 4.5%;
	color : white;
	border: none;
	border-radius: 5px;
}
.def {
	position : absolute;
	top : 165%;
	left : 0;
	
}
.ghi {
	position : absolute;
	top : 165%;
	margin-left : 10%;
	color : #33ccff;
	font-size: 47px;
	font-family : Calibri;
    text-transform: uppercase;
}
.jkl {
	position : absolute;
	top : 280%;
	left : 2%;
	
}
.mno {
	position : absolute;
	top : 280%;
	left : 50%;
}
.mno h2 {
	color : #33ccff;
	font-size: 47px;
	font-family : Calibri;
}
.mno p {
	font-size: 23px;
	font-family : Calibri;
}
.pqr {
	position : absolute;
	top : 380%;
	left : 0;
	
}
.stu {
	position : absolute;
	top : 380%;
	left : 3%;
	color : #33ccff;
}
.stu h2 {
	font-size : 47px;
	font-family : Calibri;
}
.stu p {
	font-size: 23px;
	font-family : Calibri;
}