
.leftspace {
			position:absolute;
			left: 7px; 
			top: 7px;
}

ol {
    list-style-type: none;
    margin : -8px;
    padding: 22px;
    overflow: hidden;
    background-color: #e6ffff;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ff1a75;
    text-align: center;
    padding: 25px;
    text-decoration: none;
	font-size : 17px;
	text-transform: uppercase;
}

li a:hover {
    color: #4d88ff;
	text-decoration: underline;
} 
h1 {
	margin-left : 4%;
	color : #33ccff;
}
.pace {
	margin-left : 4%;
}
.leftright { 
	margin-left : 40%;
	margin-right : 6%;
	color : black;
	font-size: 22px;
	font-style : Arial;
}
.rightleft { 
	margin-left : 4%;
	margin-right : 6%;
	color : black;
	font-size: 22px;
	font-style : Arial;
}
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=email] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}
select {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
